* {
    box-sizing: border-box;
}

/*general*/

body {
text-align: center;
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
scroll-behavior: smooth;
font-family: "Macondo", cursive;
font-weight: 400;
font-style: normal;
}

.block {
    display: block;
}

/*header*/

header {
    /*position: sticky;
    top: 0;*/
    border-bottom: solid 2px black;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 30px;
}

h1 {
    text-align: center;
    width: fit-content;
    font-size: 2rem;
    margin: auto;
    border-bottom: double 5px black;
}

h2 {
    font-size: 1.6rem;
    font-style: italic;
    margin: 30px;
}

/*main*/

main {
    width: 90vw;
    margin: auto;
}
.cartellone {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.cartelle {
    margin-bottom: 30px;
}
 
.sceltaCartelle {
    width: fit-content;
    margin: 30px auto;
    padding: 30px;
    border: solid 1px black;
}

#numeroCartelle {
    margin: auto;
}

.gioca {
    margin: 30px auto 0 auto; 
}

.cartelleGiocatore {
    text-align: center;
    margin: 30px 0;
}

/*footer*/

footer {
    width: 100vw;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: solid 1px black;
}