@for $i from 1 to 6 {
    .pad-#{$i*5} {
        padding:5px*$i
    }
    .marg-#{$i*5} {
        margin:5px*$i
    }
    .pad-y-#{$i*5} {
        padding:5px*$i 0
    }
    .marg-y-#{$i*5} {
        margin:5px*$i 0
    }
    .pad-x-#{$i*5} {
        padding:0 5px*$i
    }
    .marg-x-#{$i*5} {
        margin:0 5px*$i
    }
}