:root {
    --yellow: #ffc017;
    --black: #191919;
    --green: #1a8917;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: var(--black);
}

.left-padding {
    padding-left: 25vw;
}

.right-padding {
    padding-right: 25vw;
}

.color-white {
    color: white;
}

.flex-gap {
    gap: 5px;
}

/* header */

header {
    background-color: #ffc017;
    border-bottom: solid 1px var(--black);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 100;
}

.main-title {
    background-color: #ffc017;
}

.logo {
    width: 170px;
}

nav {
    font-size: 0.8rem;
}

ul {
    gap: 10px;
}

.btn {
    list-style-type: none;
    width: fit-content;
    padding: 12px 18px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
}

.black-btn {
    background-color: #191919;
}

/* section */

.main-title {
    padding-right: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #191919;
}

h2 {
    font-size: 120px;
    letter-spacing: -10px;
}

h3 {
    font-size: 24px;
    line-height: 24px;
}

.title-content {
    width: 550px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.title-content * {
    margin: 18px 0;
}

button {
    font-size: 1.2rem;
}

/* main */

.display-flex {
    display: flex;
}

.trending-title h2 {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 500;
}

.trending-title {
    align-items: center;
    padding-top: 40px;
}

.trending-content {
    flex-wrap: wrap;
    padding: 10px 30px;
}

.trending-cards {
    flex-basis: 33%;
    margin-bottom: 30px;
}

.trending-cards h4,
.article-text h4 {
    font-size: 13px;
}

.trending-cards img,
.article-text img {
    width: 20px;
}

.trending-cards .display-flex,
.article-text .display-flex {
    align-items: center;
}

.trending-cards h2 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

.trending-cards > *,
.article-text > * {
    padding: 7px 16px;
}

.trending-cards:last-child {
    font-size: 0.8rem;
}

.main-content {
    justify-content: space-between;
}

.article-cards {
    justify-content: space-between;
}

.article-text h2,
.tag-cloud h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.article-details {
    font-size: 0.8rem;
}

.tag {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 4px;
}

.article-list {
    width: 60%;
}

.article-img {
    width: fit-content;
}

.article-img img {
    width: 200px;
    aspect-ratio: auto 200 / 134;
    height: 134px;
}

h3 {
    font-size: 16px;
    max-height: 40px;
    line-height: 20px;
}

aside {
    width: 30%;
}

.tags {
    margin: 10px;
    flex-wrap: wrap;
}

.tags .tag {
    margin: 10px 2px;
    padding: 10px;
    flex-grow: 1;
    font-size: 0.8rem;
    border-radius: 20px;
    text-align: center;
}

.tag-cloud a {
    color: var(--green);
    font-size: 0.9rem;
}

.tag-cloud h2 {
    font-size: 0.9rem;
}

footer {
    padding-top: 20px;
}

footer li {
    list-style-type: none;
    font-size: 0.9rem;
}

footer ul {
    flex-wrap: wrap;
}

/* tooltips */

.cards-author {
    position: relative;
}

.cards-author .author-tooltip {
    opacity: 0;
    width: fit-content;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: -50px;
    border: solid 1px gray;
    box-shadow: 1px 1px 1px gray;
    line-height: 2rem;
    text-wrap: nowrap;
}

.cards-author:hover .author-tooltip {
    opacity: 1;
}

.author-tooltip h4{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
}

.author-tooltip div:first-child {
    gap: 10px;
    align-items: center;
}

.author-tooltip div:last-child {
    gap: 60px;
}

.follow-btn {
    background-color: #1a8917;
    border-radius: 20px;
    color: white;
    font-size: 0.9rem;
    padding: 5px 10px;
    border: none;
}

.author-tooltip::before{
    content: '';
    border-right: 15px solid var(--yellow);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: calc(50% - 15px);
    left: -15px;
}