<div class="text-center">

  <h1 class="mt-3 pb-3 text-decoration-underline display-3 border-bottom border-black border-3">Quests Journal</h1>

  <button class="btn btn-success mx-3 shadow p-3 rounded border border-warning border-2" routerLink="/">All quests</button>
  <div class="my-3">
    <button class="btn btn-success mx-3 shadow p-3 rounded border border-warning border-2" routerLink="/completed">Quests completed</button>
    <button class="btn btn-success mx-3 shadow p-3 rounded border border-warning border-2" routerLink="/ongoing">Quests ongoing</button>
    <button class="btn btn-success mx-3 shadow p-3 rounded border border-warning border-2" routerLink="/users">Quests by adventurer</button>
  </div>

</div>
