<div class="manage-stations container">
  <div *ngFor="let d of dates" class="mb-3 border-bottom border-black">
    <div class="d-flex flex-column">
      <h4 class="me-3">{{ d }}</h4>
      <div class="mb-3 d-md-flex flex-column flex-md-row">
        <div *ngFor="let b of bookings">
          <div
            *ngIf="b.date == d"
            class="rounded align-items-center "
          >
            <p class="mb-0 mx-2 d-flex flex-column border-end border-black p-3">
              <span class="mb-3">{{ b.user.firstName }} - Ospiti:{{b.guests}} - {{ b.station.stationType }}
              {{ b.station.id }} - <span *ngIf="b.open">Aperta</span><span *ngIf="!b.open">Chiusa</span></span>
              <span>
              <button
                class="btn btn-outline-dark mx-3"
                *ngIf="!b.confirmed"
                (click)="confirm(b.id)"
              >
                Conferma
              </button>
              <button class="btn btn-outline-dark mx-1" (click)="delete(b.id)">
                Annulla
              </button>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
