/* General */
* {
    box-sizing: border-box;
}

/* Body */

body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    line-height: 1.65;
    color: #393d41;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #25a2c3;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 10px;
}

/* Header */

header {
    background-color: black;
    padding: 30px;
    text-align: left;
    position: sticky;
    top: 0;
}

header img {
    width: 150px;
}

/* Main */

#starting {
    padding: 300px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

#starting>h1 {
    margin-bottom: 15px;
}

#starting>p {
    margin-bottom: 40px;
}

#starting>a {
    background-color: #f04c2f;
    color: white;
    text-decoration: none;
    border-radius: 5%;
    padding: 12px 25px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
}

article {
    padding: 50px 25px;
}

article>div>section {
    margin: 30px 0;
}

article>div>section>* {
    margin: 10px 0;
    font-size: 1rem;
    text-align: left;
    padding-left: 25px;
}

article>div>section>h4 {
    font-size: 1rem;
}

.right-column, .left-column {
    width: 45vw;
    display: inline-block;
}

.left-column {
    text-align: right;
    padding-right: 25px;
}

article>div>img {
    max-width:max-content;
    margin: auto;
    border-radius: 50%;
}

#witness {
    padding: 50px 20px 40px 20px;
    background-color: #e22d0e;
    color: white;
}

#witness>h3 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.quote {
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

#witness>address {
    line-height: 1;
}

#witness>address>.occupation {
    font-size: 0.8rem;
}
/* Aside */

aside {
    padding: 50px 20px 0 20px;
}

aside>a {
    text-decoration: none;
    color: #393d41;
    display: inline-block;
    width: 25%;
    margin: 0 20px;
}

.aside-img {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

#aside-img-1 {
    background-image: url(../images/foto1.jpg);
}

#aside-img-2 {
    background-image: url(../images/foto2.jpg);
}

#aside-img-3 {
    background-image: url(../images/foto3.jpg);
}

aside>a>div {
    border: solid 1px #dee1e3;
    margin: auto;
    margin-bottom: 30px;
}

.aside-content {
    font-size: 0.9rem;
    margin: 5%;
}

.aside-content>h4 {
    margin: 15px;
}

/* Footer */

footer {
    background-color: #25a2c3;
    color: #c8e7f0;
    padding: 30px 50px;
}

footer * {
    display: block;
}

footer>h3 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

#contacts {
    width: fit-content;
    text-align: left;
    margin: auto;
}

footer>div>a {
    color: #c8e7f0;
    font-size: 1rem;
}

footer>hr {
    border: solid 1px #c8e7f0;;
    width: 80%;
    margin: 30px auto;
}

#copyright, #copyright>a {
    font-size: 0.8rem;
    display: inline;
    color: #c8e7f0;
}